<h1>Add a movie and Cast!</h1>

<%= form_for @movie do |f|%>
  <p>
    <%= f.label :movie_title %><br>
    <%= f.text_field :movie_title %>
  </p>
  <p>
    <%= f.label :url %><br>
    <%= f.text_field :url %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>
